version: '3.9'

services:
  web:
    build: .
    container_name: web_app
    ports:
      - "1234:1234"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://postgres:123@db:5432/appdb

  db:
    image: postgres:14
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: appdb
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
